<div class="card my-3">
    <div class="card-body pb-2 pt-4 px-1">
        <button type="button" class="btn btn-success ms-2" (click)="onNew()">{{'new' | translate}}<i
                class="bi bi-person-plus-fill ms-3"></i></button>

        <div class="d-flex flex-row-reverse justify-content-between me-2">
            <div class="form-floating mb-3">
                <input class="form-control" id="SearchUser" placeholder="SearchUser" (keyup)="updateFilter($event)">
                <label for="SearchUser">{{"search-user" | translate}}<i class="bi bi-search ms-2"></i></label>
            </div>
        </div>
        <div class="border">
            <ngx-datatable #table class="bootstrap striped" style="height: fit-content" [footerHeight]="50"
                [rows]="listRowFilter" [columns]="listCol" [columnMode]="'force'" [headerHeight]="150" [limit]="10"
                rowHeight="auto" *ngIf="listRowFilter.length > 0">
                <ngx-datatable-column prop="id" [maxWidth]="50"></ngx-datatable-column>
                <ngx-datatable-column prop="fullName"></ngx-datatable-column>
                <ngx-datatable-column prop="email"></ngx-datatable-column>
                <ngx-datatable-column prop="company"></ngx-datatable-column>
                <ngx-datatable-column [maxWidth]="120">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <div class="d-flex flex-row justify-content-around align-items-center">
                            <button type="button" class="btn btn-outline-info btn-sm"
                                ngbTooltip="{{'edit' | translate}} {{'user' | translate}}" (click)="onEdit(row)">
                                <i class="bi bi-pen"></i></button>
                            <button type="button" class="btn btn-outline-danger btn-sm"
                                ngbTooltip="{{'del' | translate}} {{'user' | translate}}" (click)="onDelete(row)">
                                <i class="bi bi-trash3"></i></button>
                        </div>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
    <ng-template #offcanvasupdate let-offcanvas>
        <div class="offcanvas-header">
            <h4 class="offcanvas-title">{{(selectedUser?.Id ? 'update' : 'new') | translate}} {{'user' | translate}}
            </h4>
        </div>
        <div class="offcanvas-body">
            <app-user-update [user]="selectedUser"></app-user-update>
        </div>
    </ng-template>
</div>